@mixin dflex($js, $ai, $g) {
  display: flex;
  justify-content: $js;
  align-items: $ai;
  gap: $g;
}

@mixin fontStyling($fweight, $lheight, $lspacing, $fsize) {
  color: black;
  font-weight: $fweight;
  line-height: $lheight;
  letter-spacing: $lspacing;
  font-size: $fsize;
}
