@use "../../shared/mixins/mixins";

section {
  @include mixins.dflex(center, flex-start, 50px);
  flex-direction: column;
  padding: 100px 0 0 0;
  width: 100%;

  > h2 {
    font-weight: 800;
    font-size: 78px;
    line-height: 100%;
    letter-spacing: 1%;

    &:hover {
      color: #00bc8f;
      cursor: default;
    }
  }

  > div {
    @include mixins.dflex(space-between, center, 0);
    flex-direction: row;
    width: 100%;
  }
}

.text_container {
  @include mixins.dflex(center, flex-start, 20px);
  flex-direction: column;
  width: 60%;

  > p {
    @include mixins.fontStyling(400, 120%, 0%, 22px);
  }

  > div:nth-child(2),
  > div:nth-child(3) {
    @include mixins.dflex(flex-start, flex-end, 10px);
    flex-direction: row;

    > img {
      width: 40px;
      height: 40px;
    }

    > p {
      @include mixins.fontStyling(400, 120%, 0%, 22px);
    }
  }

  > div:last-child {
    @include mixins.dflex(center, center, 0);
    width: 100%;

    > button {
      width: 213px;
      height: 68px;
      background-color: transparent;
      border: 4px solid black;
      font-family: "Overpass";
      @include mixins.fontStyling(400, 120%, 0%, 23px);
      transition: transform 100ms ease-out;
      transform-origin: center;

      &:hover {
        cursor: pointer;
        font-weight: bold;
        transform: scaleX(1.1);
      }
    }
  }
}
