<section>
    <h2>About me</h2>
    <div>
        <div class="text_container">
            <p>
                Hello, my name is Mario. I’m a Frontend Developer and passionate IT enthusiast who enjoys building
                modern, user-focused web experiences. For me, coding is more than just writing lines of code — it’s
                about turning ideas into functional, real-world solutions.

                I’m driven by continuous learning and constantly push myself beyond my comfort zone by exploring new
                technologies and refining my core skills. I approach challenges with analytical thinking, creativity,
                and persistence, breaking complex problems into clear and efficient solutions.
            </p>
            <div>
                <img src="./../../../assets/img/house.png" alt="house.png">
                <p>Based in Düsseldorf</p>
            </div>
            <div>
                <img src="./../../../assets/img/laptop.png" alt="laptop.png">
                <p>Open to work Remote</p>
            </div>
            <div>
                <button>
                    Let’s talk
                </button>
            </div>
        </div>
        <div class="portrait_container">
            <img src="./../../../assets/img/main_portrait.jpeg" alt="developer_portrait">
        </div>
    </div>
    <div class="pointing_arrow_container" (mouseenter)="moveArrow()" [class.moved]="arrowMoved">
        <svg width="235" height="235" viewBox="0 0 235 235" fill="none">
            <path d="M41.3149 110.893V193.52H123.942" stroke="black" stroke-width="4" />
            <path d="M193.521 41.3135L41.3135 193.521" stroke="black" stroke-width="4" />
        </svg>

    </div>
</section>