<section>
    <h2>My skills</h2>
    <div class="skills_container">
        @for(item of skills; track item.name){
        <div>
            <div class="skill_name_wrapper">
                <img src="./../../../assets/img/skills_section_icons/{{item.img}}" alt="">
                <p>{{item.name}}</p>
            </div>
        </div>
        }
    </div>
    <div class="description_container">
        <div>
            <img src="./../../../assets/img/skills_section_icons/continued_learning.png" alt="">
        </div>
        <p>Don’t see the skill you need?<a href="">Contact me</a> I’m always ready to learn!</p>
    </div>
</section>